<div class="row">
<div class="offset-2">
<div class="col-12 mx-1">
<h4>注文履歴詳細</h4>
</div>
</div>
</div>




  <div class="row">
  <div class="offset-1">
  <div class="col-12 mx-1">
    <table>
      <thead>
      <tr>
        <td style="font-size : 20px; width="20%""><strong>購入者</strong></td>
        <td>名前</td>
      </tr>
      <tr>
        <td style="font-size : 20px;"><strong>注文日</strong></td>
        <td>確定日</td>
      </tr>

      <tr>
        <td style="font-size : 20px;"><strong>配送先</strong></td>
        <td>配送先</td>
      </tr>

      <tr>
        <td style="font-size : 20px;"><strong>支払い方法</strong></td>
        <td>クレジット・現金</td>
      </tr>

      <tr>
        <td style="font-size : 20px;"><strong>注文ステータス</strong></td>
        <td>入金待ち</td>
      </tr>
      </thead>
      </table>    
      <main>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </main>
  </div>
  </div>
  </div>
