<div class="row">
  <div class="offset-2">
    <h4>注文履歴一覧</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-2 mt-3">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      
      
      <tbody>
        <% @history.each do |history| %>
        <% if history.class == "Order" %> 
        <tr>
          <td><%= history.customer.id%></td>
          <td><%= history.amount%></td>
          <%else%>
          <td><%= history.created_at%></td>
          <td><%= history.order_statu%></td>
        </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>




