<div class="row">
  <div class="offset-2">
    <h4>注文履歴一覧</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-2 mt-3">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>


      <tbody>

         <% @order_sorts.each do |order_sort| %>
        <tr>
          <td><%= order_sort.customer.id%></td>
          <td><%= order_sort.order_details.amount%></td>
          <td><%= order_sort.created_at%></td>
          <td><%= order_sort.order_statu%></td>
        </tr>
        <%end%>
      </tbody>

    </table>
  </div>
</div>




