   <div class="main-visual">
    <div class="col-12">
      <divclass=" card text-brown">
          <%= image_tag 'complete.jpg', size:"300x500", class: 'card-img' %>
        <div class="card-img-overlay shadow-lg">
          <div class="bg-transparent">
          <h4 class="catd-title mt-5 mb-5 text-center display-4"><br><br><em>ご注文ありがとうございました!</em></h4>
        <br>
          </div>
        </div>
      </div>
    </div>
    </div>