<div class='container px-5'>

  <div class="row">
    <div class='col'>
      <h3 class="border-bottom border-secondary mt-3 mb-3 pb-1">配送先登録/一覧</h3>
    </div>
  </div>

  <%= form_with model: @send_address, url: 'public_send_addresses' do |f| %>

  <div class="row mb-3 field ml-5 mr-5">

    <%= f.label :email, "メールアドレス", class: "col-3 col-form-label text-center" %>

    <div class="col-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
